@import 'Base/Components.scss';
@import 'Base/LayoutDesign.scss';
@import 'Layout/Layout.scss';
@import 'State/Animation.scss';
@import 'State/Hovers.scss';

body{
    display: flex;
  justify-content: center;
  background-color: white;
 
}
#page {
    $pagewidth:1533px;
    $pageheight:800px;
    width: $pagewidth;
    height: $pageheight; 
.Head{
    text-align: center;
    font: bold 15pt Arial;  
    color: white;
    top: 0;
position: fixed;
width: $pagewidth;
height: calc(#{$pageheight}*0.115);

.headbackground{
    width: $pagewidth;
    height: 100%;
    background-color: rgb(36, 36, 36);
    opacity: 0.5;
}

@mixin atobutton(){
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    
}
.Serviços{
    @include atobutton();
    color: white;
@include button(7.18% , 100% , absolute , 6.78% , 0% , none , none , none);
transition: all 0.5s;
&:hover{
    color: black;
    background-color: white;
}
}


.Produtos{
    @include atobutton();
    color: white;
    @include button(7.18% , 100% , absolute , 13.96% , 0% , none , none , none);
    transition: all 0.5s;
    &:hover{
        color: black;
        background-color: white;
    }
}

.Inicio{
    @include atobutton();
    color: white;
    @include button(7.18% , 100% , absolute , 21.14% , 0% , none , none , none);
    transition: all 0.5s;
    &:hover{
        color: black;
        background-color: white;
    }
    }


.FaleConosco{
    @include atobutton();
    color: white;
    @include button(7.18% , 100% , absolute , 28.31% , 0% , none , none , none);
    transition: all 0.5s;
    &:hover{
        color: black;
        background-color: white;
    }
    }


.Logo{
    @include button(100px , 80px , absolute , 92% , 0px , none , none , none);
    background-image: url("../../Imgs/logo.png");
        background-size: 80% 100%;
        background-repeat: no-repeat;
        background-position: center;
}


}
.Body{
    $corpoheight:850px;
    width: $pagewidth;
    height: $corpoheight;
    position: absolute;
    top: 90px;
    display: flex;
  justify-content: center;
    video{
        width: $pagewidth;
        height: $corpoheight;
        object-fit: cover;
        position: absolute;
        top: 0px;
        
      }
    .formulario{
        @include button(calc(#{$pagewidth}*0.319) , calc(#{$pageheight}*0.812) , absolute , none , none , 2px solid black , white , none);
        top: calc(#{$pageheight}*0.125);
        @include dropshadow(5px 5px 2px rgb(90, 90, 90));
        display: flex;
        justify-content: center;
       .petimage{
        width: 300px;
        height: 250px;
        background-image: url("../../Imgs/2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80% 100%;

       }
        }

        
        .inputsescrita{
            @include centralizar(absolute , none , none);
            width: calc(#{$pagewidth}*0.195);
            height: 80%;
            position: absolute;
            transform: translateY(50%);
            input{
                width: 100%;
                height: 20px;
                background-color: rgb(233, 233, 233);
                border-radius: 10px;
                border: 1px solid rgb(61, 61, 61);
            }
            .tipoinput{
                width: 102%;
                height: 30px;
                background-color: rgb(233, 233, 233);
                border-radius: 10px;
                border: 1px solid rgb(61, 61, 61);
            }
            button{
                width: 25%;
                height: 8%;
                background-color: rgb(96, 161, 235);
                border: 1px solid rgb(61, 61, 61);
                border-radius: 10px;
                position: absolute;
                left: calc(#{$pagewidth}*0.0652);
                top: calc(#{$pageheight}*0.37);
                transition: all 0.5s;
                &:hover{
                    background-color: rgb(110, 110, 110);
                }
            }
        }
    }
    
}

