/* animation: name duration timing-function delay iteration-count direction fill-mode; */
body {
  display: flex;
  justify-content: center;
  background-color: white; }

.Body {
  width: 1533px;
  height: calc(2533px*0.879); }
  .Body .banner {
    width: 1533px;
    height: calc(2533px*0.154);
    position: fixed;
    top: calc(2533px*0.031); }
    .Body .banner video {
      width: 1533px;
      height: calc(2533px*0.154);
      object-fit: cover;
      position: absolute;
      top: 0px; }
    .Body .banner h1 {
      font: bold 35pt Arial;
      color: white;
      position: absolute;
      left: 45%;
      transform: translateX(-45%);
      margin-right: -45%;
      top: 25%;
      transform: translateY(-25%); }
  .Body .fundobody {
    position: absolute;
    top: calc(2533px*0.154);
    width: 1533px;
    height: calc(2533px*0.724);
    background-color: white; }
  .Body table {
    width: calc(1533px*0.848);
    font: 15pt Arial;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-right: -50%;
    top: calc(2533px*0.118);
    border-spacing: 40px; }
    .Body table .produtos {
      background-color: white;
      box-shadow: 10px 10px 7px #868686;
      transition: all 0.5s; }
      .Body table .produtos:hover {
        border: 5px solid #075e91;
        border-radius: 20px; }
      .Body table .produtos h1 {
        transform: translate(47%, 10%); }
      .Body table .produtos p {
        transform: translate(40%, 30%); }
      .Body table .produtos .images {
        width: calc(1533px*0.117);
        height: calc(2533px*0.079);
        background-color: #414141;
        transform: translate(10%, -35%); }

.Head {
  text-align: center;
  font: bold 15pt Arial;
  color: white;
  position: fixed;
  top: 0;
  width: 1533px;
  height: calc(2533px*0.035);
  background-color: #242424;
  border: 2px solid black;
  box-shadow: 0px 5px 2px black; }
  .Head .Inicio {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    color: white;
    position: absolute;
    position: absolute;
    left: 6.78%;
    top: 0%;
    width: 7.18%;
    height: 100%;
    transition: all 0.5s; }
    .Head .Inicio:hover {
      color: black;
      background-color: white; }
  .Head .Produtos {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    color: white;
    position: absolute;
    position: absolute;
    left: 13.96%;
    top: 0%;
    width: 7.18%;
    height: 100%;
    transition: all 0.5s; }
    .Head .Produtos:hover {
      color: black;
      background-color: white; }
  .Head .Cadastro {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    color: white;
    position: absolute;
    position: absolute;
    left: 21.14%;
    top: 0%;
    width: 7.18%;
    height: 100%;
    transition: all 0.5s; }
    .Head .Cadastro:hover {
      color: black;
      background-color: white; }
  .Head .FaleConosco {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    color: white;
    position: absolute;
    position: absolute;
    left: 28.31%;
    top: 0%;
    width: 7.18%;
    height: 100%;
    transition: all 0.5s; }
    .Head .FaleConosco:hover {
      color: black;
      background-color: white; }
  .Head .Logo {
    position: absolute;
    position: absolute;
    left: 92%;
    top: 15%;
    width: 5%;
    height: 80%;
    background-image: url("../../Imgs/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

.Footer {
  width: 1533px;
  height: calc(2533px*0.09);
  position: absolute;
  top: calc(2533px*0.879);
  background-color: #3d3d3d; }

/*# sourceMappingURL=Produtos.css.map */
